.about {
   padding: 0px;
   font-family: 'Segoe UI', sans-serif;
   color: #222;
   /* background-image: url('../assets/images/BG1.svg'); */
   background-size: cover;
   height: auto;
}
.aboutContainer {
   max-width: 900px;
   margin: auto;
   text-align: center;
}
 
.about h2 {
   font-size: 2.5rem;
   margin-bottom: 10px;
   color: #0075d4;
}
 
.tagline {
   font-style: italic;
   color: #777;
   margin-bottom: 40px;
}
 
.aboutContent {
   text-align: left;
   line-height: 1.7;
}
 
.aboutContent p {
   margin-bottom: 20px;
   color: #444;
}

@media screen and (max-width: 600px) {
   .aboutContainer{
      display: flex;
      flex-direction: column;
      width: 90vw;
   }
   .aboutContent > p{
      width: 90vw;
      align-items: center;
      text-align: center;
      margin: auto;
   }
}

.dark-mode {
   .about{
      color: #fff;
   }
   .tagline {
      color: #cbc8c8;
   }
   .aboutContent p {
      color: #fafafa;
   }
}