.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
  margin: 40px auto;
  perspective: 1000px;
}

.card {
  position: absolute;
  width: 260px;
  height: 260px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}


@media screen and (max-width: 400px) {
  .carousel-container{
    width: 95vw;
    margin: none;
    overflow: visible;
    scale: .6;
  }  
}