.footer{
   width: 100vw;
   background-color: #131A22;
}
.footerBody{
   height: auto;
   padding: 30px;
   background-color: #131A22 #232F3E;
   display: flex;
}
.footerBox{
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-around;
   flex: 0.35;
   border-right: 1px solid #ddd;
   color: #eee;
}
.footHero{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}
.footLogo{
   height: 125px;
   filter: drop-shadow(1px 1px 1px #fff);
}
.footHeroText{
   display: flex;
   flex-direction: column;
   width: 450px;
   align-items: center;
}
.footHeroText > .tagline{
   color: #dddd;
   width: fit-content;
}
hr{
   width: 95vw;
}

a{
   color: #999;
}
a:hover{
   color:#ccc;   
}
.sections>.heading{
   color: #ddd;
   font-weight: 700;
}
.footerLinks{
   display: grid;
   flex: 0.65;
   grid-template-columns: repeat(3,1fr);
   align-items: center;
   justify-content: space-around;
}
.sections{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.links{
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
}

.mail:hover{color: rgba(255, 0, 0, 0.831);}
.tel:hover{color: rgb(104, 0, 249);}
.yt:hover{color: red;}
.ig:hover{color: #E1306C;}
.fb:hover{color: #0866ff;}
.wa:hover{color: #25d366;}




.footerBottom{
   display: flex;
   height: auto;
   width: 100vw;
   color: #555;
   background-color: #0F1111;
   justify-content: space-around;
   padding: 10px 0px;
   margin: auto;
}
.footerBottomText{
   color: #555;
}

@media screen and (max-width: 950px) {
   .footerBody{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: none;
   }
   .footerBox{
      display: block;
      border-right: none;
      border-bottom: 1px solid #fff;
      margin-bottom: 20px;
   }
   .footHeroText{
      width:max-content;
   }
   .tagline{
      text-align: center;
   }
   .footerLinks{
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding:  0px 30px 0px 30px;
   }
   .links{
      text-align: left;
      text-decoration: none;
      width: max-content;
   }
   .footerBottom{
      flex-direction: column;
   }
   hr{
      margin: auto;
      height: 2px;
      background-color: #ddd;
      border-radius: 2px;
      width: 80vw;
   }
   vr{
      display: none;
   }
   .footerBottomText{
      margin: 12px;
      text-align: justify;
   }
   .dev{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .social{
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      justify-content: space-evenly;
   }
   .s-lable{
      display: none;
   }
}