.home {
   text-align: center;
   font-family: 'Segoe UI', sans-serif;
}
.home-hero {
   height: 80vh;
   animation: fadeIn 1.2s ease;
}
.home-hero h1 {
   font-size: 2.5rem;
   margin-bottom: 20px;
}
.home-btn {
   background-color: #00bcd4;
   color: #fff;
   margin-top: 60px;
   padding: 12px 28px;
   text-decoration: none;
   font-size: 1rem;
   border-radius: 30px;
   transition: background-color 3s ease-in-out;
}

.home-btn:hover {
   background-color: #0198a4;
}
@keyframes fadeIn {
   from {
     opacity: 0;
     transform: translateY(40px);
   }
   to {
     opacity: 1;
     transform: translateY(0);
   }
}
.headComponent {
   text-align: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0 100px;
   padding: 10px 0 150px;
   background-image: url('../assets/images/BG2.svg');
   mask-image: linear-gradient(180deg, #d2d2d2, #000000, #00000000);
}

.typingContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: auto;
}
.typing {
   position: relative;
   color: #0044aa;
}

/* HomePage Card */
.homeCards {
   display: flex;
   justify-content: center;
   position: relative;
   top: -150px;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 20px;
   max-width: 90vw;
   height: auto;
   margin: auto;
}
.card {
   width: 250px;
   height: 350px;
   outline: 1px solid #000;
}
.cardTitle{
   color: #0044aa;
}
.cardDescription {
   width: inherit;
   text-overflow: wrap;
   color: rgb(0, 0, 0);
   font-weight: 200;
}